@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  color-scheme: light; 
}

html, body, :root { 
  height: 100%; 
}

body { 
  font-family: var(--font-inter), var(--font-noto), ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Yu Gothic', 'Meiryo', sans-serif;
  @apply bg-slate-50 text-slate-900;
}